<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="crypto.example.view.views.TestView"
            id="crypto.example.view"
            name="TestView"
            restorable="true">
      </view>
      <view
            class="crypto.example.view.views.TreeView"
            id="crypto.example.view.tree"
            name="TreeView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="crypto.application.perspective">
         <view
               id="crypto.example.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="crypto.example.view.tree"
               minimized="false"
               relationship="right"
               relative="crypto.example.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="crypto.example.view.handler.RemoveHandler"
            id="crypto.example.view.remove"
            name="remove">
      </command>
      <command
            defaultHandler="crypto.example.view.handler.EditHandler"
            id="crypto.example.view.edit"
            name="edit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:crypto.example.view">
         <command
               commandId="crypto.example.view.remove"
               label="remove"
               style="push">
         </command>
         <command
               commandId="crypto.example.view.edit"
               label="edit"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:crypto.example.view.tree">
         <command
               commandId="crypto.example.view.remove"
               label="remove"
               style="push">
         </command>
         <command
               commandId="crypto.example.view.edit"
               label="edit"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="crypto.example.view.views.InputEditor"
            default="false"
            id="crypto.example.view.personeditor"
            name="InputEditor">
      </editor>
   </extension>

</plugin>
